#background {
    width: 450px;
    height: 500px;
    background-color: black;
    margin-top: 200px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #888888;

}

#playersText{
    margin-top: 60px;
    color: white;
    font-size: 35px;
    font-family: "Adobe Gothic Std B";
    font-style: oblique;
}

#gameSettings {
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
    width: 20%;
    height: 50%;
    background-color: saddlebrown;
    display: inline-block;

}

.options {
    margin-top: 60px;
    margin-left: 50px;
    color: white;
    font-size: 25px;
    font-family: "Adobe Gothic Std B";
    font-style: oblique;

}

.myTable {
    border: none !important;
}

#back {
    visibility: hidden;
    margin-left: 130px;
}

.options:hover {
    border: ridge;
}

.rows {
    height: 33.33%;
    border-bottom: 1px solid white;
}

.rows:nth-child(3){
    border: none;
}

.tds {
    font-size: 35px;
    color: white;
    line-height: 157px;
    border-right: 1px solid white;

    height: 100%;
    min-height: 100% !important;
    max-height: 100%;

    width: 33.33%;
    min-width: 33.33% !important;
    max-width: 33.33%;

}

.tds:nth-child(3) {
    border-right: none;
}

#gameOver {
    font-size: 55px;
    color: darkred;
    font-family: "Bell MT";
    font-style: oblique;
}



#score {
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 10px;
    color: white;
    margin-left: 760px;
    background-color: darkblue;
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-family: "Britannic Bold";
    font-style: oblique;
    top:200px;
}

#player2 {
    text-align: right;
}

#playAgain {
    margin-left: 45%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#playAgain:hover {background-color: darkred}

#playAgain:active {
    background-color: darkred;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}